* {
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Meiryo, sans-serif;;
	letter-spacing: 0.1em;
	font-size: 15px;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1024px;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

span,small {
	color: inherit;
	font-size: inherit;
}

input[type="submit"] {
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a:hover, input[type="submit"]:hover {
	opacity: 0.8;
}


body {
	animation: show 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.wrapper-size {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0;
	align-items: flex-end;
}

#header {
	padding: 20px;
}

.logo-area, .tel-area, .language-area, .title-area {
	display: inline-block;
	vertical-align: middle;
}

.logo-area {
	width: 55%;
}

.logo-area a {
	display: inline-block;
}

.title-area {
	margin: 0;
	margin-right: 20px;
}

.tel-area {
	margin-right: 20px;
}

#menu {
	background: #0844a4;
}

#menu ul {
	font-size: 0;
	padding: 15px 0;
	text-align: center;
}

#menu li {
	display: inline-block;
	vertical-align: middle;
}

#menu li+li {
	border-left: 2px solid #fff;	
}

#menu li a {
	display: inline-block;
	color: #fff;
	padding: 0px 20px;
}

#menu li a:hover {
	color: #FF9800;
	opacity: 1;
}

.slider-area {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#sliderWrapper {
    transition-duration: 0.5s;
    width: 400%;
    height: auto;
    font-size: 0;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slider-item {
    position: relative;
    display: inline-block;
    width: 25%;
}

.slider-image {
    width: 100%;
    height: 450px;
}

.image-1 {
    background: url(inc/img/top/slide1.jpg);
    background-size: cover;
}

.image-2 {
    background: url(inc/img/top/slide2.jpg);
    background-size: cover;
}

.image-3 {
    background: url(inc/img/top/slide3.jpg);
    background-size: cover;
}

.slider-text {
    text-align: center;
    padding: 20px;
    width: 820px;
    position: absolute;
    bottom: 120px;
    left: 10%;
    background: rgba(255, 255, 255, 0.7);
}

.slider-text .catch-copy {
	color: #333;
	font-weight: bold;
	font-size: 26px;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dot {
    transition-duration: 0.3s;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #eee;
    outline: none;
    border: none;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #0a44a4;
}

.home-title {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 40px;
}

.home-title .en {
	color: #0844a4;
	font-size: 30px;
	font-weight: bold;
}

.home-title h2 {
	margin: 0;
}

.product-area {
	display: flex;
    justify-content: space-between;
}

.product-area a {
	display: inline-block;
	width: 30%;
}

.product-area .product-block {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	border: 1px solid #BFBFBF;
	padding: 20px 35px;
	border-radius: 10px;
	text-align: center;
}

.product-block h4 {
	color: #0D6CE5;
	margin-bottom: 0;
	font-size: 16px;
    font-weight: normal;
}

.product-block p {
	margin-top: 0;
	height: 50px;
	font-size: 12px;
}

.product-block .detail-button {
	text-align: right;
}

.detail-button button {
	background: #0844a4;
	color: #fff;
	border-radius: 3px;
	border: none;
	min-width: 100px;
    padding: 2px 20px;
}

.solution-area .solution-text {
	vertical-align: top;
    display: inline-block;
    width: 500px;
    margin-left: 40px;
}

.solution-text .solution-links {
	margin-top: 40px;
}

.solution-links a {
	display: inline-block;
	color: #0D6CE5;
	text-decoration: underline;
	width: 49%;
	margin: 5px 0;
}

.infomation-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.infomation-block {
	width: 25%;
	border: 1px solid #BFBFBF;
	vertical-align: top;
	display: flex;
	align-items: center;
	justify-content: inherit;
	margin: 20px 0;
}

.infomation-block .fa {
	color: #BFBFBF;
}

.infomation-block h4 {
	color: #0D6CE5;
	text-align: center;
	width: 75%;
}

.news-area .news-item {
	margin: 20px 0;
}

.news-item .news-component {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.news-component .date {
	display: inline-block;
	margin-right: 15px;
}

.news-component .tag {
	display: inline-block;
	background: #0844a4;
	font-size: 12px;
	color: #fff;
	padding: 3px 10px;
}

.news-item a {
	display: inline-block;
	width: 79%;
}

.all-news {
	text-align: right;
}

.all-news a {
	display: inline-block;
	padding: 8px 20px;
	background: #444444;
	border-radius: 30px;
}

.all-news span, .all-news i {
	color: #fff;
}

#footer {
	border-top: 2px solid #0844a4;
	margin-top: 80px;
}

.contact-area {
	padding: 30px 0;
}

.contact-area .tel-contact, .contact-area .web-contact, .contact-area .data-download, .contact-area .extra-commerce {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 20px;
}

.contact-area .extra-commerce {
	width: 30%;
}

.contact-area .tel-contact i, .contact-area .web-contact i, .contact-area .data-download i, .contact-area .extra-commerce i {
	color: #0844a4;
    border: 1px solid #0844a4;
    border-radius: 50%;
    font-size: 16px;
    padding: 7px 4px 7px 6px;
    margin-right: 5px;
}

.contact-area .tel-contact span, .contact-area .web-contact span, .contact-area .data-download span, .contact-area .extra-commerce span {
	letter-spacing: -1px;
}

.contact-area .tel-number {
	font-size: 18px;
    letter-spacing: 0;
}

.sitemap-area {
	background: #0844a4;
	padding: 20px 0 10px 0;
}

.sitemap-area .sitemap-block {
	color: #fff;
	font-size: 12px;
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.sitemap-block p {
	color: #fff;
	font-size: 12px;
}

.sitemap-block a {
	margin-right: 20px;
}

.gray {
	background: #f7f6f6;
    margin-top: 80px;
    padding-bottom: 80px;
    padding-top: 5px;
}

#contact section.slide-up {
	opacity: 0;
	position: relative;
	bottom: -30px;
}

#contact section.slide-up.uping {
	animation: uping 0.3s;
	animation-fill-mode: forwards;
}

.visual-title {
	background-color: #d4e3fc;
    background-image: linear-gradient(45deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%),linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
    background-position: 0 0, 3px 3px;
    background-repeat: repeat;
    background-size: 6px 6px;
    text-align: center;
    padding: 50px 0;
    text-align: center;
    color: #0844a4;
    margin: 0;
    font-size: 32px;
}

.contact-path {
    padding: 0;
    font-size: 0;
    margin-top: 20px;
}

.contact-path li {
    list-style: none;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.contact-path li a {
	font-size: 12px;
}

.contact-path li+li:before {
    content: '\f105';
    font-family: FontAwesome;
    margin: 0px 8px;
    color: #ababab;
    font-size: 12px;
}

.section-title {
	margin: 40px 0;
}

.section-title h2 {
	padding: 8px 15px;
    color: #0844a4;
    border-bottom: 1px dotted #0844a4;
    border-left: 5px solid #0844a4;
    min-width: 400px;
    display: inline-block;
    margin: 0;
    font-size: 20px;
}

.link-area {
	margin: 40px 0;
}

.link-area .link-item {
	margin-right: 30px;
}

.link-item span {
	color: #0D6CE5;
}

.link-item .fa {
	color: #fff;
	background: #0D6CE5;
	border-radius: 50%;
	padding: 2px 4px 2px 8px;
}

.link-text {
	color: #0D6CE5;
}


@-webkit-keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes uping {
	0% {
		opacity: 0;
		bottom: -30px
	}

	100% {
		opacity: 1;
		bottom: 0;
	}
}
@keyframes uping {
	0% {
		opacity: 0;
		bottom: -30px;
	}

	100% {
		opacity: 1;
		bottom: 0;
	}
}

@media print {
	
	body {
		opacity: 1;
	}

	#visual.top-image {
		height: 400px;
	}
}
